@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.pageOne{
  width: 100vw;
  height: 100vh;
  background-color: #fd5f5e;
  color: #2f4858;
}

.pageOne h1{
  font-size: 15vw;
  
}

.pageOne hr{
  border: 5px solid black;
  max-width: 80vw;
}

.pageOne h2{
  font-size: 5vw;
  float: left;
}

.pageTwo{
  width: 100vw;
  height: 100vh;
  background-color: #485782;
  color: #fd5f5e;
}

.imageWithOverlay{
  display: grid;
  border-radius: 15px;
	box-shadow: -25px -50px rgba(0,0,0,0.4);
	grid-template-columns: max-content auto;
	grid-template-rows: auto max-content;
	background: #333 url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80) center;
	background-size: cover;
	width: 400px;
	height: 300px;
	padding: 2rem;
}

.pageThree{
  width: 100vw;
  height: 100vh;
  background-color: #ff8d0d;
  color: #485782;
}
.pageFour{
  width: 100vw;
  height: 100vh;
  background-color: #2f4858;
  color: #ff8d0d;
}

